table.t1 {
	border-collapse: collapse;
}
table.t1 td {
	border: 1px solid black;
	padding: 1px;
}
table.t1 select {
	width: 160px;
}
table.t1 input[type="number"] {
	width: 50px;
	float: right;
}
table.t1 input[type="button"] {
	float: right;
	vertical-align: bottom;
}
h3 {
	padding: 0px;
	margin-bottom: 0px;
}
div.clickable {
	cursor: pointer;
	height:100%;
	width:100%;
}
table.stattable {
	border-collapse: collapse;
}
table.stattable td {
	border-left: 1px solid black;
	width: 45px;
}
#resultspace img {
	vertical-align: middle;
}
.rescolumn {
	float:left;
	width:300px;
}
table.dialog1 {
	border-collapse:collapse
}
table.dialog1 td {
	text-align:center;
	border:1px solid black;
	background-color:#eeeeee;
	cursor:pointer
}
table.dialog1 td:hover {
	background-color:#78BEB5
}
table.dialog2 td {
	text-align:center;
	border:1px solid black;
	background-color:#eeeeee;
}
table.dialog2 img:hover {
	cursor:pointer
}
table.dialog2 td:hover {
	background-color:#78BEB5;
}
table.dialog2 span.dialogkai {
	cursor:pointer;
	font-size:14px;
	text-decoration:underline;
	margin: 0 7px;
}
table.dialog2 span:hover.dialogkai {
	color:blue
}
table.dialog3 {
	font-size:12px;
	border-spacing: 0 2px;
	width: 360px;
}
table.dialog3 tr {
	background-color: #ffffff;
}
table.dialog3 tr:hover {
	background-color: #78BEB5;
	cursor: pointer;
}
table.dialog3 td.left {
	border: 1px solid black;
	border-right: 0;
	width: 10%;
}
table.dialog3 td {
	border: 1px solid black;
	border-left: 0;
}
table.dialog3 img.imgstat {
	vertical-align:middle;
	margin-left: 12px;
	margin-right: 2px;
}
table.dialog4 {
	border-collapse:collapse;
	text-align:center;
}
table.dialog4 td {
	border: 1px solid black;
	width:160px;
	background-color:#f8f8f8;
}
table.dialog4 td:hover {
	background-color: #78BEB5;
	cursor: pointer;
}
.searchbutton {
	float:right;
	width:18px;
	height:18px;
	cursor:pointer;
	border: 1px solid grey
}
.searchbutton:hover {
	border: 1px solid #7A9CD3
}
div.secret {
	width:160px;
	height:70px;
	position:absolute;
	left:505px;
	top:435px;
	border:1px solid #f8f8f8;
	color:#f8f8f8;
	cursor:pointer;
	font-size:20px;
	text-align:center;
}
div.secret:hover {
	border:1px solid #aaaaaa;
	color:#aaaaaa;
}
#optionstable td.line {
	border-left: 1px solid black;
}
#optionstable img, #optionstable input, #optionstable label{
	vertical-align: middle;
}
#optionstable span.option2{
	padding: 5px;
	margin-bottom: 20px;
}
#optionstable span.line {
	border-left: 1px solid black;
	margin-left: 10px;
	padding-left: 10px;
}
#optionstable div{
	margin-bottom:5px;
	padding: 5px;
}

@keyframes flashing {
	from {border-color: red;}
	to {border-color: white;}
}

table.tadvstats td{
	vertical-align: top;
}